<nav class="ks-site-nav" aria-label="Primary navigation">

  <div class="ks-site-nav-inner">

    <a href="/keepsake/" class="ks-nav-brand">

      <img
        src="/assets/images/keepsake/AppIcon.png"
        alt=""
        aria-hidden="true"
      />

      <span>
        Keepsake
      </span>

    </a>


    <div class="ks-nav-actions">

      <a
        href="/keepsake/journal/"
        class="ks-nav-link"
        data-nav-section="journal"
      >
        Journal
      </a>

      <a
        href="https://apps.apple.com/app/keepsake-hold-memories/id6760719322"
        class="ks-nav-download"
      >
        Download
      </a>

    </div>

  </div>

</nav>