<!-- Footer Component -->
<footer>
	<div class="footer-block">
		<a href="/index.html" class="footer-link">Home</a>
		<a href="/services.html" class="footer-link">Services</a>
		<a href="/index.html#projects" class="footer-link">Work</a>
		<a href="/about.html" class="footer-link">About</a>
		<a href="/contact.html" class="footer-link">Contact</a>
		<a href="/privacy/" target="_blank" class="footer-link">
			Privacy Policies
		</a>
		<!-- Disclaimer -->
		<div class="footer-disclaimer">
			<p>&copy; 2026 Chaotic Good Creations. All rights reserved.</p>
		</div>
	</div>
	<div class="footer-block right-block">
		<!-- Email icon -->
		<a
			href="mailto:hello@chaoticgoodcreations.co"
			class="footer-social"
			aria-label="Send email to hello@chaoticgoodcreations.co"
		>
			<ion-icon name="mail-outline"></ion-icon>
		</a>
		<!-- Threads icon -->
		<a
			href="https://www.threads.net/@tabingtons"
			target="_blank"
			rel="noopener noreferrer"
			class="footer-social"
			aria-label="Visit Chaotic Good Creations on Threads"
		>
			<img src="/assets/icons/threads.svg" alt="threads" />
		</a>
		<!-- LinkedIn icon -->
		<a
			href="https://www.linkedin.com/company/chaotic-good-creations/"
			target="_blank"
			rel="noopener noreferrer"
			class="footer-social"
			aria-label="Visit Chaotic Good Creations on LinkedIn"
		>
			<img src="/assets/icons/linkedin.svg" alt="linkedin" />
		</a>
	</div>
</footer>
