<!-- Footer Component -->
<footer>
    <div class="footer-block">
        <a href="/about.html" class="footer-link">About</a>
        <a
            href="/privacy/"
            target="_blank"
            class="footer-link"
        >
            Privacy Policies
        </a>
    </div>
    <div class="footer-block right-block">
        <a
            href="https://www.threads.net/@chaoticgoodapps"
            target="_blank"
            class="footer-social"
        >
            <img src="/assets/icons/threads.svg" alt="threads" />
        </a>
        <a
            href="https://www.linkedin.com/company/chaotic-good-creations"
            target="_blank"
            class="footer-social"
        >
            <img src="/assets/icons/linkedin.svg" alt="linkedin" />
        </a>
    </div>
</footer>