<!-- Navigation Component -->
<nav>
	<div class="nav-box">
		<a href="/index.html" class="nav-logo nav-logo-mobile">
			<img
				src="/assets/images/smallLogo.png"
				alt="Circle and triangle overlay with the letters CG over top"
				class="small-logo"
			/>
		</a>
		<ul class="navigation">
			<li>
				<a href="/index.html#projects" class="nav-link">work</a>
			</li>
			<li>
				<a href="/services.html" class="nav-link">services</a>
			</li>
			<a href="/index.html" class="nav-logo nav-logo-desktop">
				<img
					src="/assets/images/smallLogo.png"
					alt="Circle and triangle overlay with the letters CG over top"
					class="small-logo"
				/>
			</a>
			<li>
				<a href="/about.html" class="nav-link">about</a>
			</li>
			<li>
				<a href="/contact.html" class="nav-link">contact</a>
			</li>
		</ul>
		<button class="burger-menu" id="burger-menu">
			<ion-icon
				class="menu show"
				id="menu"
				name="menu-outline"
			></ion-icon>
			<ion-icon class="cross" id="cross" name="close-outline"></ion-icon>
		</button>
	</div>
</nav>
