@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Variables */
:root {
    --header-font-family: "Playfair Display", serif;
    --header-font-style: normal;
    --header-font-weight: 400;
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables end */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

h1 {
    font-family: var(--header-font-family);
    font-style: var(--header-font-style);
    font-weight: var(--header-font-weight);
    font-size: 5rem;
    line-height: 150%;
    text-shadow: 0px 0px 1200px white, 0px 0px 120px white, 0px 0px 120px white,
        0px 0px 40px white, 0px 0px 40px white, 0px 0px 1200px white,
        0px 0px 120px white, 0px 0px 120px white, 0px 0px 40px white,
        0px 0px 40px white, 0px 0px 60px white, 0px 0px 60px white,
        0px 0px 60px white, 0px 0px 20px white, 0px 0px 20px white,
        0px 0px 60px white, 0px 0px 60px white, 0px 0px 60px white,
        0px 0px 20px white, 0px 0px 20px white;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    background-image: url(../images/memphisShapes.svg);
    background-position: center top;
    background-size: contain;
    width: 200vw;
    height: 100%;
}
.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.grid {
    -webkit-transform: translateZ(0px) scale(1);
    transform: translateZ(0px) scale(1);
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../images/grid.svg);
    background-position: center top;
    background-size: contain;
    z-index: -20;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    height: 90vh;
    margin: auto;
}

.hero img {
    height: 37.5rem;
    width: 37.5rem;
}

.projects {
    padding: 32px 0;
    margin-top: 2rem;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.project-container {
    max-width: 1680px;
    min-height: 555px;
    padding: 1rem;
}

.project-card {
    background-color: #8bf6da;
    border-radius: 28px;
    padding: 20px;
    margin: 10px;
}

.project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-icon {
    width: 70px;
    height: 70px;
}

.project-title {
    padding-left: 0.8rem;
}

.project-details {
    padding-top: 0.8rem;
    margin-bottom: 1rem;
    max-width: 50%;
}

.project-link {
    color: #000;
    border-radius: 28px;
    padding: 0.5rem 1rem;
    background-color: #fff;
}

.about {
    padding: 32px 100px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.about-width {
    max-width: 800px;
}

.about-title {
    text-align: center;
    margin-bottom: 1rem;
}

.about-details {
    margin-bottom: 1rem;
}

.about-link {
    color: #fff;
    border-radius: 28px;
    padding: 0.5rem 1rem;
    background-color: #f91585;
}

.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

@media screen and (max-width: 720px) {
    /*changes reflects on screen with a width of 720px and below*/
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: absolute;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    h1 {
        font-size: 3.5rem;
    }

    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img {
        height: 37.5rem;
        width: 30rem;
    }

    .projects-container {
        flex-direction: column;
    }

    .project-container {
        width: 372px;
        height: 680px;
    }

    .project-details {
        max-width: 100%;
    }

    .about {
        padding: 16px;
    }

    .contact-form-container {
        max-width: 23.75rem;
    }
}

@media screen and (max-width: 420px) {
    .hero img {
        height: 37.5rem;
        width: 23rem;
    }

    .project-container {
        width: 304px;
        height: 562px;
    }

    .contact-form-container {
        max-width: 17.75rem;
    }
}
